@font-face {
  font-family: 'Handrawn';
  src: url('../assets/fonts/Handrawn/DeliciousHandrawn-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Sofia';
  src: url('../assets/fonts/Sofia/Sofia-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Sacramento';
  src: url('../assets/fonts/SacramentoCursive/Sacramento-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}