@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: variables.$dark;
  font-size: 1.6rem;
  color: variables.$black;
}