@use '../utils/variables';

// Trash Can to delete tasks
.button-delete {
  position: absolute;
  top: 25px;
  left: 0;
  cursor: pointer;
}

.button-help {
  position: absolute;
  top: 25px;
  right: 0;
  cursor: pointer;
}

// Submit Task Button
.input-send {
  height: 50px;
  padding: 10px;
  background: variables.$lightDark;
  color: variables.$white;
  border-radius: 5px;
  cursor: pointer;

  // &:hover {
  //   border: 1px solid yellow;
  // }
}