
.modal--visibility.modal--visibility {
  visibility: visible;
  opacity: 1;
}

.help-modal {
  transition: .5s ease-in-out;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  min-width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-container {
    position: relative;
    margin: 0 auto;
    max-width: 500px;

    .help-modal-close-btn {
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: -15px;
    }
  }
}

