@use '../utils/variables';
@use '../utils/mixins';

main {
  min-height: 100vh;

  .task-creation {
    border-radius: 5px;
    background-color: variables.$white;

    @include mixins.forLargeScreen {
      max-width: variables.$largeScreen;
      margin: 0 auto 40px auto;
    }

    .input-fields {
      display: flex;
      justify-content: center;
      gap: 5px;
  
      .input-task {
        width: 70%;
        height: 50px;
        outline: none;
        border-radius: 5px;
    
        &:focus {
          outline: 2px solid navy;
        }
      }
    }

  }


}
